body{
  background: #f2f2f2;font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5{font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-weight: 700;
}

a:hover, a:visited{
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-weight: 700;
}

.wrapper{
    position: relative;
    z-index: 15;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw 7vw;
}

.footer{
  /* padding: 7vw 7vw 3vw 7vw; */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  color: #fff;
  margin-top: 100px;
}

.footer a{
  color: #fff;
  font-weight: 400;
}

.footer a:visited{
  color: #fff;
  font-weight: 400;
}

.section-title{
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
}

/*********************** Navigation ***********************/

nav{
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.header{
  padding: 20px 0;
}

.header a{
  color: #fff;
}

.logo {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.logo::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.logo:hover::after {
    width: 100%;
    transition: width .3s;
}

/*********************** Home Page ***********************/

#case-study-list{
  background: #eee;
  margin-top: 100px;
}

.case-study-card .cell{
  background: #fff;
  padding: 0;
}

.case-study-list a{

}
.case-study-list a:hover{
    box-shadow: 5px 10px #888888;
}

.case-photo{
  flex-basis: 50%;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.case-description{
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}

/*********************** Project Pages ***********************/

.project-desc{
  position: relative;
  z-index: 15;
  margin-left: auto;
  margin-right: auto;
  padding: 1vw 0vw;
  max-width: 800px;
}

.project-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* background: url("../bg.svg") repeat center; */
}

.nd{
  font-style: italic;
  color: #888;
  padding-top: 2vw;
}

/*********************** Custom ***********************/

.character-creator-header{
    height: 20rem;
    background: #222 url("../cc.jpg") no-repeat top;
    background-size: cover;
}

.ppt-header{
    height: 20rem;
    background: #222 url("../images/ppt.jpg") no-repeat top;
    background-size: cover;
}

.homepage-header{
    height: 20rem;
    background: #222 url("../about8b.jpg") no-repeat center;
    background-size: cover;
}
