body{
	background: #f2f2f2;
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	font-size:2em;
}

h2{
	font-size:1.5em;
}


h3{
	font-size:1.2em;
}

h4{
	font-size:1em;
}

a:link, a:active, a:visited{
	color: black;
	border-bottom: 2px #FF1A01 solid;
	font-style: italic;
}

a:hover{
	color: #666;
}

ul{
	list-style: circle;
}

.profileimage img{
	border: 4px solid white;
	border-radius: 100px;
	margin-bottom: 20px;
}

.sidebar{
	/*background-color:#f2f2f2;*/
}

.particulars{
	background-color: #fff;
	min-height: 500px;
}

.nav-alt a{
	color: #999;
	border: none;
	font-style: normal;
}

.nav-alt a:hover{
	color: #666;
}

#about{
}

#follow{
	margin:40px 0 20px 0;
}

#main-nav{
	margin:20px 0;

}

.footer{
	margin-top: 60px;
	color: #999;
}


