body{
  background: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

* {
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
}


a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-weight: 700;
}

a:hover, a:visited{
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-weight: 700;
}

i{
 color: #fff;
 font-weight: normal;
}

blockquote{
  font-size: 40px;

}

section{
padding: 60;

}

.hero{
  background-color: #333;
  color: #fff;
  padding:200px 60px;

}
.home-hero{
  background: url("img/test9.png") no-repeat center #000;
  color: #fff;
  padding:200px 60px;
}

.case-studies{
  background-color: #fff;
  color: #000;
  padding:100px 60px;
}

.card{
  background-color: #f2f2f2;
  float: left;
  padding: 10px
}

.card-pic{
    background: url("img/cc.jpg") no-repeat center #000;
    height: 200px;
}

.footer{
  background-color: #333;
  color: #fff;

}

/*********************** Custom ***********************/

